input[type="text"],
input[type="number"],
input[type="checkbox"],
textarea,
select {
  margin: 1em;
  padding: 0.5em;
}

form {
  display: grid;
  max-width: 780px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  align-items: center;
  flex-wrap: wrap;
  border: 1px black solid;
  text-align: center;
}

form > * {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
