{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J83GQ09GDG"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-J83GQ09GDG');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Coin Box Subscription{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    {% if messages %}
    <ul class="messages {% if messages.tags %}slide-in{% endif %}">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <main class="main-container">{% block content %} {% include './contact.html' %} {% endblock content %}</main>
    {% block footer %}{% include './footer.html' %} {% endblock footer %}
    <script>
      function hideMessages() {
        setTimeout(function() {
          var messages = document.querySelectorAll('.messages');
          messages.forEach(function(message) {
            message.classList.add('slide-out');
            setTimeout(function() {
              message.style.display = 'none';
            }, 500); // Adjust the delay as needed
          });
        }, 5000); // Adjust the delay as needed
      }
      
      window.addEventListener('load', hideMessages);
      </script>
  </body>
</html>