{% extends './base.html' %} {% load static %} {% block content %}
<div class="logo-container">
  <div class="sign-up-container">
    <h1>Coin Box Sub</h1>
    <h2>A box of coins delivered straight to your door every month!</h2>
    <hr />
    <h2>COMING SOON <i class="fa-regular fa-calendar-days"></i></h2>
    <p>Embark on a Numismatic Journey with your Coin Box Sub!</p>
    <h3>Sign up below to get notified when we launch</h3>
    <form method="post">
      {% csrf_token %} {{ form }}
      <button>Sign Up</button>
    </form>
  </div>
</div>

<div class="card-header">
  <div><h2>Why choose Coin Box Sub?</h2></div>
</div>

<div class="card-container">
  <div class="card">
    <h2><i class="fa-solid fa-coins"></i> Starting at $50</h2>
    <hr />
    <p>
      Immerse yourself in the world of numismatics with Coin Box Sub, your
      gateway to a meticulously curated collection of coins ranging from cents
      to dollars. For just $50 a month, embark on a journey of discovery as you
      explore a diverse selection from our extensive inventory. With Coin Box
      Sub, every month brings a fresh opportunity to uncover something new and
      exciting.
    </p>
  </div>
  <div class="card">
    <h2>
      <i class="fa-solid fa-box-open"></i> <span id="graded">Graded Coins</span>
    </h2>
    <hr />
    <p>
      Discover the hidden gems within every box: a guaranteed graded coin by
      PCGS, NGC, ANACS, or ICG awaits you. Delve into a diverse assortment of
      coins, ranging from classic Flying Eagle cents to iconic Morgan Dollars.
      Each shipment is an invitation to enhance your collection and share the
      joy of the hobby. Experience the thrill of new discoveries with every
      monthly delivery.
    </p>
  </div>
  <div class="card">
    <h2><i class="fa-regular fa-face-smile"></i> Satisfaction Guaranteed</h2>
    <hr />
    <p>
      At Coin Box Sub, your satisfaction is our top priority. Should you find
      any item in your monthly coin box subscription less than perfect, we're
      pleased to offer our buyback guarantee*. Within 1 month, we'll repurchase
      the item at 80% of its value, ensuring your complete peace of mind.
    </p>
  </div>
</div>

{% include './faq.html' %} {% endblock content %}
