<div class="faq-container">
    <div class="faq-header">
        <h2>Frequently Asked Questions</h2>
    </div>
</div>

<div class="faq-content">
    <div></div>
    <div class="faq">
        <ul>
            <li><span class="faq-q">What are the different subscription tiers available?</span><p>
                We offer three subscription tiers to choose from: Basic ($50), Premium ($100), and Deluxe ($200).
            </p>
        </li>
            <li><span class="faq-q">What can I expect to find in the subscription boxes?</span>
            <p>
                Each subscription tier offers unique contents. In the Basic tier, priced at $50, you will find a guaranteed graded coin from reputable grading companies such as PCGS, NGC, ANACS, or ICG. The Premium tier, priced at $100, includes a graded coin and a 1oz 999 fine silver piece. The Deluxe tier, priced at $200, provides a graded coin, a 1oz 999 fine silver piece, and a silver dollar.<p>
                Additionally, you can anticipate a variety of captivating U.S. coins, intriguing foreign coins, 90% silver coins, mint and proof sets, and more. Get ready for a delightful journey through the world of coins with each box you receive.
                
            </p>
            </li>
            <li><span class="faq-q">How will the items be shipped</span><p>We take the safety and security of your package seriously. All items will be carefully packaged in a discreet bubble mailer to ensure their protection during transit. You will receive tracking information to keep you informed about the status of your shipment. Your satisfaction and privacy are our top priorities.</p>
            </li>
            <li><span class="faq-q">When will my Coin Box ship?</span><p>At Coin Box Sub, we prioritize the timely processing and shipment of all coin boxes. Once your billing is successfully completed, we swing into action to ensure your coin box is prepared for shipment within 1-3 business days. We rely on trusted shipping partners such as USPS First Class to deliver your package efficiently and securely, with an estimated delivery time of 2-5 days. Rest assured, we'll provide you with tracking information so you can stay informed about the status of your shipment every step of the way. Your satisfaction is our top priority, and we're committed to delivering an exceptional coin box experience.</p>
            </li>
            <li><span class="faq-q">What are PCGS, NGC, ANACS, and ICG?</span><p>
                PCGS, NGC, ANACS, and ICG are widely recognized and respected coin grading companies. These organizations specialize in grading and authenticating coins to ensure their quality, protect consumers, and preserve the value of the coins.</p>
            </li>
            <li><span class="faq-q">Who is behind Coin Box Sub?</span><p>
                Coin Box Sub is a Veteran Owned Small Business based in Texas. The owner, a third-generation coin dealer and a veteran of the US Army, brings extensive experience and knowledge to curate the best coins for our subscribers. With our vast inventory and a strong network of dealers, we are committed to delivering exceptional coins at a great value.</p>
            </li>
            <li><span class="faq-q">What does your buyback guarantee entail?</span><p>
                Our buyback guarantee assures your satisfaction. If, for any reason, you are unsatisfied with an item in your subscription box, we offer a buyback option. Within one month of receiving your subscription box, we will repurchase the item at 80% of its value. Please note that the buyback guarantee excludes items whose value is solely based on the bullion market, such as 90% silver coins and 1oz 999 fine silver.</p>
            </li>
            <li><span class="faq-q">When are you launching?</span><p>We're diligently working behind the scenes to bring you an exceptional experience. While we're fine-tuning the details, we're aiming to launch by August 2023. However, rest assured that we won't keep you waiting beyond November 2023. Sign up now to stay informed and be the first to know about our official launch!</p>
        </ul>
    </div>
    <div></div>