:root {
  --gold: #ffd700;
  --gold-rgb: rgb(255, 215, 0);
  --jet: #323031;
  --jet-rgb: rgb(50, 48, 49);
  --white: #ffffff;
  --white-rgb: rgb(255, 255, 255);
  --slate: #7d8491;
  --slate-rgb: rgb(125, 132, 145);
  --silver: #c0c0c0;
  --silver-rgb: rgb(192, 192, 192);
  --accent: #b3fcfb;
  --background: #102e44;
  --accent-grey: #84828f;
  --bblack: #1e1e24;
  --bblack-rgb: rgb(30, 30, 36);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--white);
  height: 100vh;
}

.logo-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-image: url("./coins.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  position: relative;
  overflow: hidden;
}

.logo-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(30, 30, 36, 0.8) 25%,
    rgba(30, 30, 36, 0.6) 75%
  );
  mix-blend-mode: multiply;
}

.logo-container > * {
  position: relative;
  z-index: 1;
}
.faq-container {
  background-image: url("./faqbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}

label[for="id_email"] {
  color: var(--gold);
  font-weight: bolder;
}
.faq-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(30, 30, 36, 0.8) 25%,
    rgba(30, 30, 36, 0.6) 75%
  );
  mix-blend-mode: multiply;
}

.faq-container > * {
  position: relative;
  z-index: 1;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  margin: 2rem;
  text-align: center;
}

.sign-up-container h1 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.sign-up-container h3 {
  color: var(--gold);
}

.faq-header {
  padding: 2rem;
  margin: 2rem;
}

.faq-header h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--gold);
}

p {
  padding: 0.5rem;
  line-height: 1.5rem;
}
form {
  margin: 0.5rem;
}
button {
  background-color: var(--gold);
  color: var(--bblack);
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  font-weight: bolder;
}

.card-header {
  text-align: center;
  color: var(--bblack);
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.card {
  padding: 2rem;
  border-radius: 1rem;
  max-width: 400px;
}

.card p {
  color: var(--bblack);
}
.card h2 {
  color: var(--bblack);
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: var(--white) 2px 2px 2px;
}

hr {
  position: relative;
  border: none;
  height: 2px;
  background-color: var(--gold);
  margin-bottom: 1.5rem;
}

hr::before,
hr::after {
  content: "";
  position: absolute;
  top: -5px;
  width: 40px;
  height: 40px;
  background-color: var(--bblack);
}

hr::before {
  left: 0;
}

hr::after {
  right: 0;
}

.faq-q {
  text-decoration: underline;
  text-decoration-color: var(--gold);
  font-weight: bolder;
  margin: 10rem 0;
}

.footer {
  background-color: var(--bblack);
  width: 100%;
  text-align: center;
  color: var(--white);
  font-size: 1rem;
  position: relative;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.footer img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.faq-content {
  color: var(--bblack);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 2rem;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

.success,
.error {
  background-color: var(--bblack);
  text-align: center;
  color: var(--gold);
  padding: 1rem;
}
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Apply the animation to the messages */
.messages {
  animation: slideIn 0.5s ease-in-out forwards;
}

.messages.slide-out {
  animation: slideOut 0.5s ease-in-out forwards;
  animation-delay: 3s; /* Adjust the delay as needed */
}
@media (max-width: 768px) {
  .faq-content {
    color: var(--bblack);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin-top: 2rem;
    font-size: 1rem;
  }
}

.hide-it {
  display: none;
}

.footer a {
  color: white;
}
