:root {
    --gold: #FFD700;
    --gold-rgb: rgb(255, 215, 0);
    --jet: #323031;
    --jet-rgb: rgb(50, 48, 49);
    --white: #FFFFFF;
    --white-rgb: rgb(255, 255, 255);
    --slate: #7d8491;
    --slate-rgb: rgb(125, 132, 145);
    --silver: #C0C0C0;
    --silver-rgb: rgb(192, 192, 192);
    --accent: #B3FCFB;
    --background: #102e44;
    --accent-grey: #84828F;
    --bblack: #1e1e24;
    --bblack-rgb: rgb(30, 30, 36);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* outline: solid 1px red; */
}



body {
    color: var(--white);
    height: 100vh;
    background-image: url("../images/coins.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(192, 192, 192, 0.5);
    mix-blend-mode: normal;
    background-attachment: fixed;
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 5fr 3fr 1fr;
    align-items: center;
}

/* .logo-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(33deg, var(--accent-grey), var(--accent));
    transform-origin: 0 0;
    transform: rotate(-45deg);
} */


.logo img {
    /* max-width: 500px; */
    /* justify-self: right; */
    width: 100%;
}

.footer {
    background-color: var(--background);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--white);
    font-size: 10px;
}

.sign-up-container {
    border-radius: 1rem;
    padding: 2.5rem;
    margin: 2rem;
    text-align: center;
    min-width: 300px;
    background-color: rgba(30, 30, 36, 0.8);
    box-shadow: 1px 2px 4px var(--bblack);
    border: solid 1px var(--accent);
}

.sign-up-container h1 {
    margin-bottom: 1.5rem;
    font-size: 4rem;
}

p {
    padding: .5rem;
    line-height: 1.5rem;
}
form {
    margin: .5rem;
}
button {
    background-color: var(--white);
    color: var(--bblack);
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
}
input {
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem;
}
.card {
    border: 1px solid var(--accent);
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    max-width: 400px;
    justify-self: center;
    box-shadow: 1px 2px 4px var(--bblack);
    background-color: rgb(30, 30, 36, 0.8);
}

.card h2 {
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: var(--bblack) 2px 2px 2px;
}
.clear {
    height: 50px;
    width: 100%;
}
hr {
    position: relative;
    border: none;
    height: 2px;
    background-color: var(--gold);
    margin-bottom: 1.5rem;
  }

hr::before,
hr::after {
  content: '';
  position: absolute;
  top: -5px;
  width: 40px;
  height: 40px;
  background-color: var(--bblack);
}

hr::before {
  left: 0;
}

hr::after {
  right: 0;
}

@media (max-width: 1735px) {
    .logo-container::after {
        display: none;
    }
}

@media (max-width: 1280px) {
    .logo-container {
        grid-template-columns: 1fr;
    }

    .card-container {
        grid-template-columns: 1fr 1fr;
    }
    .logo-container::after {
        display: none;
    }
}

/* @media (max-width: 1000px) {
    .logo-container {
        grid-template-columns: 1fr;
    }
    .logo {
        max-width: 100%;
        justify-self: center;
        align-self: center;
        text-align:center;
    }
} */


@media (max-width: 768px) {
    .logo-container {
        grid-template-columns: 1fr;
    }
    .logo img {
        max-width: 100%;
        text-align: center;
    }
    .card-container {
        grid-template-columns: 1fr;
    }
    .logo-container::after {
        display: none;
    }
}